<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head><title></title></head>
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <a href="#" th:href="@{/}"><img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                                                src="../../../resources/images/logoHeader.png" /></a><h1>HC-CIS<small>&nbsp;Canes</small></h1>
            </div>
            <div class="navbar-inner">
                <!--                <ul th:if="${session.loggedInUser != null}" class="nav">-->
                <ul class="nav">

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Menu
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="/" th:href="@{/}"><i class="icon-th-list"></i>List</a></li>-->
                            <li><a href="#" th:href="@{/}"><i class="icon-th-list"></i>Show campers</a></li>
                            <li><a href="#" th:href="@{/camper/add}"><i class="icon-th-list"></i>Add camper</a></li>
                        </ul>
                    </li>



                </ul>

                <ul class="nav navbar-nav navbar-right">    

                    <!--check to see if logged in user is an admin-->

                    <li><a href="/" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="/" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>

</html>